<!DOCTYPE html>
<html>
<head>
    <title>ToDo List Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('todo.todos', user_id=current_user.id) }}">Todos</a></li>
            <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        </ul>
    </nav>
    
    <main>

        {% block content %} {% endblock %}

    </main>
    
    <footer class="foot">
        <p>&copy; 2024 My Flask App. All rights reserved.</p>
    </footer>
    
</body>
</html>